*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body{
    background-color: green;
}

@font-face{
    font-family: "Odin";
    src: url('../fonts/Cinzel-VariableFontwght.woff2') format('woff2'), url('../fonts/Cinzel-VariableFontwght.woff') format('woff');
    font-weight: 400 500 600 700 800 900;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Odin", serif;
}


#content{
    position: relative;
}

.nav-header{
}

.nav{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 5rem;
    flex-direction: row;
    z-index: 2;
    /* background-color: rgba(255,255,255, 0.25); */
    justify-content: flex-end;
    padding-right: 2rem;
    padding-top: 2rem;
    gap: 2rem;

    /* backdrop-filter: blur(10px); */
    
}

.nav button {
    border: none;
    width: 5rem;
    height: 20px;
    background-color: rgba(255,255,255,0);
    font-size: 1rem;
    font-weight: 100;
    font-family: "Odin", serif;
    color: white;
    border-bottom: 1px solid rgba(241, 238, 225, 0);


    /* transition: background-color .3s; */

}

.nav button:hover {
    border-bottom: 1px solid white;
    /* transition: background-color .3s; */
}





.hero{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-text{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.hero-logo {
    flex-shrink: 0;
    width: 10rem

}

.hero-text h1 {
    font-size: 10rem;
    font-family: "Odin", serif;
    font-weight: 600;
    color: white;
}

.menu-card-container {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card {
    margin-top: 3rem;
    max-width: 70vw;
    height: 90vh;
    background-color: rgba(73, 69, 60, 0.5);
    border-radius: .5rem;
    backdrop-filter: blur(.25rem);
    overflow-y: scroll;
    padding-left: 5rem;
    padding-right: 5rem;

}

.menu-section{
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid white;
}

.menu-section:last-child{
    border-bottom: none;
}


.menu-card li {
    color: white;
    margin-top: 2rem;
    list-style: none;
    
}

.menu-card p {
    font-weight: 100;
    font-size: .75rem;
}

.menu-card h4 {
    font-size: 1rem;
}

.menu-card h2 {
    font-size: 2rem;
    color: white;
}
.about-info {
    width: 70vw;
}

.about-info{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(0,0,0,.5);
    padding: 3rem;
    border-radius: .5rem;

}

.about-info h2 {
    font-size: 2rem;
}

